
<!DOCTYPE html>
<html lang="en">

<!--this is the uploading part-->
<title>Upload new File and scroll below to see your results</title>
<h1>Upload new File and scroll below to see your results</h1>
<form action="" method=post enctype=multipart/form-data>
    <p><input type=file name=file>
        <input type=submit value=Upload>
</form>


<!--
    The following was copied from index.html
-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<title>Sightengine demo - Python and Flask</title>-->
  <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">-->
<!--</head>-->

<!--<body>-->
<!--<header class="navbar">-->
  <!--<form action="/upload" method="post" enctype="multipart/form-data" >-->
      <!--<span class="btn btn-default btn-file">-->
        <!--Browse <input type="file" name="image">-->
      <!--</span>-->

    <!--<input type="submit" value="Upload your image" class="btn btn-primary">-->
  <!--</form>-->

  <!--<span class="navbar-text"> Image moderation with-->
      <!--<a href="https://sightengine.com/">Sightengine</a>-->
  <!--</span>-->
<!--</header>-->
<!-- until here... -->


<!-- this is our actual code -->
{% extends "layout.html" %}
{% block body %}

<body>
<div class="block1">
<h1>Let's test this model remotely!!!</h1>
  <h2>Give me an image and make me think!</h2>
<img src="http://image.slidesharecdn.com/pydatatalk-150729202131-lva1-app6892/95/deep-learning-with-python-pydata-seattle-2015-35-638.jpg?cb=1438315555">
</div>
<!--</body>-->

<!--Now we shall draw our chart in here-->
<!--<head>-->
  <!--<meta charset="utf-8" />-->
  <!--<title>{{ title }}</title>-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<!--</head>-->
<!--<body>-->
  <center>
    <h1>{{ title }}</h1>
  </center>
  <center>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");
       steps = 10
       max = {{max}}
     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );
    </script>
  </center>
</body>
{% endblock %}
</html>